<html xmlns:th="http://www.thymeleaf.org">
<body>
    <h1>Carrito de compras</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Acciones</th>
        </tr>
        <tr th:each="p : ${productos}">
            <td th:text="${p.id}"></td>
            <td th:text="${p.nombre}"></td>
            <td th:text="${p.precio}"></td>
            <td>
            	<a th:href="@{/cart/remove/{id}(id=${p.id})}">Remover del carrito</a>
            </td>
        </tr>
    </table>

    <a th:href="@{/products}">Ver Catalogo de Productos</a>
</body>
</html>